# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Data caches and outputs
/data/
/outputs/
/figures/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
.vercel
